# Database Configuration
DATABASE_URL=postgresql://sv_adminnexacore:sv_nexacore05@db:5432/securevault
POSTGRES_DB=securevault
POSTGRES_USER=sv_adminnexacore
POSTGRES_PASSWORD=sv_nexacore05

SESSION_SECRET=h9OHVdMEarS45n97FAFz0GEVIbs49ve-ZEhASlrKSV_HEghlOfj6NjAiJGFtIfK7uo_Pa-SJpCgYEmo-LvJAiw
NODE_ENV=production
PORT=3000
